# Setup

In [8]:
import pandas as pd

TRANSACTION_INDEX = ['RC#', 'Category', 'Vendor#']

In [9]:
original = pd.read_csv("./data/original.csv").replace({ 'RC#': { 2: 1 }, 'RC Name': { 'SVC Engagement': 'Chancellor' } })

In [10]:
# If multiple RC transactions have the same category + vendor, merge them

original = original.groupby(['RC#', 'Category', 'Vendor#']).agg({
    # 'RC#': 'first',
    'RC Name': 'first',
    # 'Category': 'first',
    # 'Vendor#': 'first',
    'Vendor Name': 'first',
    'Address 1': 'first',
    'Address 2': 'first',
    'City': 'first',
    'State': 'first',
    'ZIP code': 'first',
    'Amount': 'sum',
}).reset_index()

In [11]:
original = original[[
    'RC#', 'RC Name', 'Category', 'Vendor#', 'Vendor Name', 'Address 1', 'Address 2', 'City', 'State', 'ZIP code', 'Amount'
]]

original = original.sort_values(by=TRANSACTION_INDEX)

In [12]:
original.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5568 entries, 0 to 5567
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RC#          5568 non-null   int64
 1   RC Name      5568 non-null   object
 2   Category     5568 non-null   int64
 3   Vendor#      5568 non-null   int64
 4   Vendor Name  5568 non-null   object
 5   Address 1    5544 non-null   object
 6   Address 2    1290 non-null   object
 7   City         5469 non-null   object
 8   State        5371 non-null   object
 9   ZIP code     5557 non-null   object
 10  Amount       5568 non-null   int64
dtypes: int64(4), object(7)
memory usage: 522.0+ KB

In [13]:
updated = pd.read_csv("./data/updated.csv")
updated = updated.sort_values(by=TRANSACTION_INDEX)

In [14]:
updated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5920 entries, 4352 to 1519
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RC#          5920 non-null   int64
 1   RC Name      5920 non-null   object
 2   Category     5920 non-null   int64
 3   Vendor#      5920 non-null   int64
 4   Vendor Name  5920 non-null   object
 5   Address 1    5896 non-null   object
 6   Address 2    1359 non-null   object
 7   City         5821 non-null   object
 8   State        5716 non-null   object
 9   ZIP code     5909 non-null   object
 10  Amount       5920 non-null   int64
dtypes: int64(4), object(7)
memory usage: 555.0+ KB

In [15]:
original.to_csv("./data/original_sorted.csv", index=False)

In [16]:
updated.to_csv("./data/updated_sorted.csv", index=False)