# Setup

In [1]:
import pandas as pd

CATEGORY_MAP = {
    6000: 'Supplies/Equipment',
    6400: 'Professional Services',
    6500: 'Library Acquisitions',
    6600: 'Telephone',
    6700: 'Mail',
    6800: 'Printing/Publishing',
    6900: 'Professional Memberships',
    7000: 'Utilities',
    7100: 'Routine Maintenance',
    7135: 'Facility Operating Costs',
    7140: 'Facility Alterations',
    7300: 'Space Rental',
    7400: 'Purchases for Resale',
    7700: 'Insurance'
}
COLUMNS_CHANGED = ["RC Name_u", "Vendor Name_u", "Category_u", "Amount_o", "Amount_u", "AmountDiff"]
COLUMNS_NEW = ["RC Name_u", "Vendor Name_u", "Category_u", "Amount_u", "AmountDiff"]
RENAMED_COLUMNS = {"RC Name_u": "RC Name", "Vendor Name_u": "Vendor Name", "Category_u": "Category", "Amount_o": "Old Amount", "Amount_u": "New Amount", "AmountDiff": "Difference"}

# Open data files

In [2]:
transactions_changed = pd.read_csv("./data/updated_changes.csv")
transactions_new = pd.read_csv("./data/updated_new.csv")

In [3]:
transactions_changed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RC#_o          253 non-null    int64
 1   RC Name_o      253 non-null    object
 2   Category_o     253 non-null    int64
 3   Vendor#_o      253 non-null    int64
 4   Vendor Name_o  253 non-null    object
 5   Address 1_o    253 non-null    object
 6   Address 2_o    66 non-null     object
 7   City_o         253 non-null    object
 8   State_o        249 non-null    object
 9   ZIP code_o     251 non-null    object
 10  Amount_o       253 non-null    int64
 11  TPN_ID         253 non-null    object
 12  RC#_u          253 non-null    int64
 13  RC Name_u      253 non-null    object
 14  Category_u     253 non-null    int64
 15  Vendor#_u      253 non-null    int64
 16  Vendor Name_u  253 non-null    object
 17  Address 1_u    253 non-null    object
 18  Address 2_u    66 non-null     object
 19  City_u         253 non-null    object
 20  State_u        248 non-null    object
 21  ZIP code_u     251 non-null    object
 22  Amount_u       253 non-null    int64
 23  AmountDiff     253 non-null    int64
dtypes: int64(9), object(15)
memory usage: 47.6+ KB

In [4]:
transactions_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 358 entries, 0 to 357
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   RC#_o          0 non-null      float64
 1   RC Name_o      0 non-null      float64
 2   Category_o     0 non-null      float64
 3   Vendor#_o      0 non-null      float64
 4   Vendor Name_o  0 non-null      float64
 5   Address 1_o    0 non-null      float64
 6   Address 2_o    0 non-null      float64
 7   City_o         0 non-null      float64
 8   State_o        0 non-null      float64
 9   ZIP code_o     0 non-null      float64
 10  Amount_o       358 non-null    float64
 11  TPN_ID         358 non-null    object
 12  RC#_u          358 non-null    int64
 13  RC Name_u      358 non-null    object
 14  Category_u     358 non-null    int64
 15  Vendor#_u      358 non-null    int64
 16  Vendor Name_u  358 non-null    object
 17  Address 1_u    358 non-null    object
 18  Address 2_u    66 non-null     object
 19  City_u         358 non-null    object
 20  State_u        357 non-null    object
 21  ZIP code_u     357 non-null    object
 22  Amount_u       358 non-null    int64
 23  _merge         358 non-null    object
 24  AmountDiff     358 non-null    float64
dtypes: float64(12), int64(4), object(9)
memory usage: 70.0+ KB

# Format changed transactions

In [5]:
transactions_changed = transactions_changed[COLUMNS_CHANGED].rename(columns=RENAMED_COLUMNS)
transactions_changed['Category'] = transactions_changed['Category'].apply(lambda c: CATEGORY_MAP[c])

transactions_new = transactions_new[COLUMNS_NEW].rename(columns=RENAMED_COLUMNS)
transactions_new['Category'] = transactions_new['Category'].apply(lambda c: CATEGORY_MAP[c])

# Save data files

In [6]:
transactions_changed.to_csv("./data/updated_changes_dw.csv", index=False)
transactions_new.to_csv("./data/updated_new_dw.csv", index=False)