# Setup

In [1]:
import pandas as pd

In [2]:
original = pd.read_csv("./data/original.csv")

In [3]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RC#          5570 non-null   int64
 1   RC Name      5570 non-null   object
 2   Category     5570 non-null   int64
 3   Vendor#      5570 non-null   int64
 4   Vendor Name  5570 non-null   object
 5   Address 1    5546 non-null   object
 6   Address 2    1290 non-null   object
 7   City         5471 non-null   object
 8   State        5373 non-null   object
 9   ZIP code     5559 non-null   object
 10  Amount       5570 non-null   int64
dtypes: int64(4), object(7)
memory usage: 478.8+ KB

In [4]:
updated = pd.read_csv("./data/updated.csv")

In [5]:
updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5920 entries, 0 to 5919
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RC#          5920 non-null   int64
 1   RC Name      5920 non-null   object
 2   Category     5920 non-null   int64
 3   Vendor#      5920 non-null   int64
 4   Vendor Name  5920 non-null   object
 5   Address 1    5896 non-null   object
 6   Address 2    1359 non-null   object
 7   City         5821 non-null   object
 8   State        5716 non-null   object
 9   ZIP code     5909 non-null   object
 10  Amount       5920 non-null   int64
dtypes: int64(4), object(7)
memory usage: 508.9+ KB

# Top-line numbers

In [6]:
original_sum = original.Amount.sum()
updated_sum = updated.Amount.sum()

updated_sum - original_sum

30599050

In [7]:
new_transactions = len(updated) - len(original)
new_transactions

350

In [8]:
diff = pd.concat([original, updated]).drop_duplicates(keep=False)

In [9]:
total_transactions_changed = len(diff)
total_transactions_changed

1338

In [10]:
original_transactions_changed = total_transactions_changed - new_transactions
original_transactions_changed

988