# Setup

In [1]:
import pandas as pd

In [2]:
original = pd.read_csv("./data/original.csv")

In [3]:
original.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RC#          5570 non-null   int64
 1   RC Name      5570 non-null   object
 2   Category     5570 non-null   int64
 3   Vendor#      5570 non-null   int64
 4   Vendor Name  5570 non-null   object
 5   Address 1    5546 non-null   object
 6   Address 2    1290 non-null   object
 7   City         5471 non-null   object
 8   State        5373 non-null   object
 9   ZIP code     5559 non-null   object
 10  Amount       5570 non-null   int64
dtypes: int64(4), object(7)
memory usage: 478.8+ KB

In [4]:
updated = pd.read_csv("./data/updated.csv")

In [5]:
updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5920 entries, 0 to 5919
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   RC#          5920 non-null   int64
 1   RC Name      5920 non-null   object
 2   Category     5920 non-null   int64
 3   Vendor#      5920 non-null   int64
 4   Vendor Name  5920 non-null   object
 5   Address 1    5896 non-null   object
 6   Address 2    1359 non-null   object
 7   City         5821 non-null   object
 8   State        5716 non-null   object
 9   ZIP code     5909 non-null   object
 10  Amount       5920 non-null   int64
dtypes: int64(4), object(7)
memory usage: 508.9+ KB

# Top-line numbers

In [6]:
original_sum = original.Amount.sum()
updated_sum = updated.Amount.sum()

updated_sum - original_sum

30599050

In [7]:
new_transactions = len(updated) - len(original)
new_transactions

350

In [8]:
diff = pd.concat([original, updated]).drop_duplicates(keep=False)

In [9]:
total_transactions_changed = len(diff)
total_transactions_changed

1338

In [10]:
original_transactions_changed = total_transactions_changed - new_transactions
original_transactions_changed

988

# Merge transactions

In [18]:
merged_transactions = original.merge(updated, on=('RC#', 'Category', 'Vendor#'), suffixes=('_o', '_u'))
merged_transactions['AmountDiff'] = merged_transactions.Amount_u - merged_transactions.Amount_o

# Largest amount change

In [22]:
merged_transactions.sort_values(by=['AmountDiff'], ascending=False).head(5)

,RC#,RC Name_o,Category,Vendor#,Vendor Name_o,Address 1_o,Address 2_o,City_o,State_o,ZIP code_o,Amount_o,RC Name_u,Vendor Name_u,Address 1_u,Address 2_u,City_u,State_u,ZIP code_u,Amount_u,AmountDiff
5429,85,SOMD Administration,7300,424204,BPA II LTD,1468 WEST 9TH STREET SUITE 835,NaN,CLEVELAND,OH,44113,8366840,SOMD Administration,BPA II LTD,1468 WEST 9TH STREET SUITE 835,NaN,CLEVELAND,OH,44113,10951439,2584599
5431,92,Business and Auxiliary Services,7300,505445,WYNDHAM PITTSBURGH UNIVERSITY CENTER,545 E JOHN CARPENTER FREEWAY STE 1300,NaN,IRVING,TX,75062,9634730,Business and Auxiliary Services,WYNDHAM PITTSBURGH UNIVERSITY CENTER,545 E JOHN CARPENTER FREEWAY STE 1300,NaN,IRVING,TX,75062,11657790,2023060
5422,83,General University,7700,204776,"MARSH USA, INC",P O BOX 281915,NaN,ATLANTA,GA,30384,4335280,General University,"MARSH USA, INC",P O BOX 281915,NaN,ATLANTA,GA,30384,6071082,1735802
5424,92,Business and Auxiliary Services,7300,687995,MWK FORBES II LLC,3341 FORBES AVENUE,NaN,PITTSBURGH,PA,15213,5168342,Business and Auxiliary Services,MWK FORBES II LLC,3341 FORBES AVENUE,NaN,PITTSBURGH,PA,15213,6280388,1112046
5432,67,Facilities Management,7000,103658,DUQUESNE LIGHT COMPANY,PO BOX 830012,NaN,BALTIMORE,MD,21283-0012,23831022,Facilities Management,DUQUESNE LIGHT COMPANY,PO BOX 830012,NaN,BALTIMORE,MD,21283-0012,24578216,747194